.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: $dark;
}

.user__info {
  padding: 10px;
  width: 100%;

  p {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.user__link {
  color: $light;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.user__img-block {
  height: 100%;
  width: 30%;
}

.user__img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}
