// COLORS
$darkest: #0d1117;
$dark: #161b22;
$gray: #636971;
$light: #c9d1d9;
$red: #d90025;
$green: #2eb931;
$btn-green: #68b965;
$btn-red: #b95954;

/* DEVICE WIDTH */
$mobile-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 959px;
$desktop-width: 960px;
